.contentWrapper {
  position: relative;
  padding: 40px 100px;
  background-color: var(--beige-500);
}

.title {
  margin-bottom: 7px;
}

.text {
  position: relative;
  margin-bottom: 23px;
}

.text::after {
  content: "";
  position: absolute;
  bottom: -12px;
  right: 0;
  background-color: var(--gray-600);
  width: 100%;
  height: 1px;
}

.btnWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 600px) {
  .contentWrapper {
    padding: 10px 10px;
  }
}
