.slides {
  display: flex;
  width: 100%;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 20px;
}

.slider {
  max-width: 520px;
  width: 100%;
}

.slide {
  min-width: 100%;
  scroll-snap-align: start;
}

.img {
  width: 100%;
  display: block;
}
