.btn {
  padding: 22px 47px;
  color: var(--main-white);
  background-color: var(--orange-500);
  border: none;
}

.btnApply {
  background-color: var(--gray-700);
}

.btnReset {
  background-color: transparent;
  color: var(--gray-700);
}
