@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("./fonts//Jost-Regular.ttf");
}

@font-face {
  font-family: "Jost";
  font-style: semibold;
  font-weight: 600;
  src: local(""), url("./fonts//Jost-SemiBold.ttf");
}

@font-face {
  font-family: "Jost";
  font-style: bold;
  font-weight: 700;
  src: local(""), url("./fonts//Jost-Bold.ttf");
}

body {
  font-family: "Jost", sans-serif;
}
