.label {
  color: var(--gray-700);
  display: flex;
  align-items: center;
}

.input {
  display: none;
}

.customCheckbox {
  display: inline-block;
  margin-right: 10px;
  width: 24px;
  height: 24px;
  border: 1px solid var(--beige-700);
  cursor: pointer;
  border-radius: 4px;
}

.input:checked + .customCheckbox {
  background-color: var(--main-theme);
}
