.header {
  background-color: var(--main-theme);
}

.wrapper {
  padding: 20px 0 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.border {
  border-bottom: 1px solid var(--gray-300);
}

@media (max-width: 1000px) {
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .wrapper {
    border-bottom: none;
  }

  .navigation {
    display: flex;
  }
}
