.table {
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: var(--beige-500);
  margin-bottom: 32px;
  border: 1px solid var(--beige-700);
}

.tableItem {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.tableItem:not(:last-child) {
  border-bottom: 1px solid var(--beige-700);
}

.btn {
  position: relative;
  padding: 24px 5px 24px 5px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.active {
  color: var(--main-white);
  background-color: var(--main-theme);
}

.btn:first-child {
  border-right: 1px solid var(--beige-700);
}
